[Container]
ServiceName=podman_container_nginx
ContainerName=nginx
Image=localhost/nginx
AutoUpdate=local
PublishPort=8080:8080
PublishPort=8443:8443
Mount=type=volume,source=nginx.volume,destination=/V
Mount=type=bind,source=/home/podman/run,destination=/run/podman

[Service]
ExecStartPre=mkdir -p /home/podman/run
