[Unit]
Description=Nginx Container

[Container]
ServiceName=pc-nginx-common
ContainerName=nginx-common
Image=p-nginx-common.build

[Install]
WantedBy=multi-user.target
