[Unit]
Description=Proxy from TCP :80 to Unix socket /run/podman/port80.sock
Requires=podman_port80.socket
After=podman_port80.socket

[Service]
Type=notify
ExecStartPre=/bin/mkdir -p /run/podman
ExecStartPre=/bin/chmod 777 /run/podman
ExecStart=/usr/lib/systemd/systemd-socket-proxyd /run/podman/port80.sock

[Install]
WantedBy=multi-user.target
