[Unit]
Description=Proxy from TCP :443 to Unix socket /run/podman/port443.sock
Requires=podman_port443.socket
After=podman_port443.socket

[Service]
Type=notify
ExecStartPre=/bin/mkdir -p /run/podman
ExecStartPre=/bin/chmod 666 /run/podman
ExecStart=/usr/lib/systemd/systemd-socket-proxyd /run/podman/port443.sock

[Install]
WantedBy=multi-user.target
